.project-grid {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 90%;
}

.left-is-list {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.right-is-project {
  margin-top: 2.3vh;
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  background-size: 100%;
  background-repeat: no-repeat;
}

.right-is-project button {
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 0;
  transition: 0.3s;

  background: linear-gradient(90deg, rgba(84,26,139,0) 0%, rgba(84,26,139,1) 25%,  rgba(84,26,139,1) 75%, rgba(84,26,139,0) 100%);
}

.right-is-project a {
  text-decoration: none;

  color: white;
  font-size: 16px;
  text-shadow: 0 0 3px #01a6cf;
  font-weight: bold;
}

.project-names {
  margin: 3px 0;
  padding: 2px 0;

  border: 1px solid black;
  background: #006a85;
  box-shadow: inset -10px 0 10px -10px black;
}

.projects button {
  width: 90%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

  background-color: inherit;
  color: #100B09;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.active-project {
  color: white !important;
  text-shadow: 0 0 3px white;
  background: linear-gradient(90deg, rgba(1,166,207,0) 0%, rgba(1,166,207,1) 50%, rgba(1,166,207,0) 100%);
}