
.nav-content {
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  padding: 1vw;

  background-color: #090B10;
  border-right: 1px solid black;
  box-shadow: 0 0 10px black;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 16vw;
}

nav {
  min-height: 35vh;
}

ul {
  padding-left: 0;
  list-style-type: none;
}