
.nav-content {
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  padding: 1vw;

  background-color: #090B10;
  border-right: 1px solid black;
  box-shadow: 0 0 10px black;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 16vw;
}

.title {
  font-size: 20px;
  line-height: 18px;
}

.descriptors {
  font-size: 14px;
  line-height: 14px;
}

nav {
  min-height: 63vh;
}

ul {
  padding-left: 0;
  list-style-type: none;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.page-links {
  padding: 2px 0 2px 0;
  width: 100%;
}

.page-links a {
  text-decoration: none;

  color: #541a8b;
}

.current-path {
  display: block;

  color: white !important;
  text-shadow: 0 0 3px white;
  background: #006a85;
  background: linear-gradient(90deg, rgba(0,106,133,0) 0%, rgba(0,106,133,1) 50%, rgba(0,106,133,0) 100%);
}

.footer {
  position: relative;
  bottom: 6.5vh;
  font-size: 12px;
}