
main {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 79%;
}

.nav-panel {
  text-align: center;
  width: calc(100% - 1vw - 2px);
  grid-column: 1;
  grid-row: 1;
}

.page-content {
  margin: 0 auto;
  width: calc(100% - 1vw);
  grid-column: 2;
  grid-row: 1;
  padding: 1vw;
}

.p-with-indent {
  text-indent: 2vw;
}

/* This is for the tabs, which may appear on multiple pages. */
.tab {
  overflow: hidden;
  position: absolute;
  left: 20%;
  right: 0;
  height: 42px;
  width: calc(80% - 16px);
  padding: 0;
  padding-left: 16px;
  box-shadow: inset 10px 0 10px -10px black;

  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #006a85;
}

.tab-placeholder-text {
  padding-left: 16px;

  color: #100B09;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.tab button {
  float: left;
  height: 42px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 0;

  background-color: inherit;
  color: #100B09;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.tab button:hover {
  color: white !important;
  text-shadow: 0 0 3px white;
  background: #01a6cf;
  background: linear-gradient(90deg, rgba(1,166,207,0) 0%, rgba(1,166,207,1) 50%, rgba(1,166,207,0) 100%);
}

.tab button:active {
  color: white !important;
  text-shadow: 0 0 3px white;
  background: #01a6cf;
  background: linear-gradient(90deg, rgba(1,166,207,0) 0%, rgba(1,166,207,1) 50%, rgba(1,166,207,0) 100%);
}

.content {
  padding: 0.5vh .5vw;
  padding-top: calc(0.5vh + 42px);
}